Csharp_ExcelTools/Csharp_ExcelTools/obj/Csharp_ExcelTools.csproj.nuget.dgspec.json
Csharp_ExcelTools/Csharp_ExcelTools/obj/Csharp_ExcelTools.csproj.nuget.g.props
Csharp_ExcelTools/Csharp_ExcelTools/obj/Csharp_ExcelTools.csproj.nuget.g.targets
Csharp_ExcelTools/Csharp_ExcelTools/obj/project.assets.json
Csharp_ExcelTools/Csharp_ExcelTools/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Csharp_ExcelTools/Csharp_ExcelTools/obj/Debug/net6.0/Csharp_ExcelTools.AssemblyInfo.cs
Csharp_ExcelTools/Csharp_ExcelTools/obj/Debug/net6.0/Csharp_ExcelTools.csproj.BuildWithSkipAnalyzers
Csharp_ExcelTools/Csharp_ExcelTools/obj/Debug/net6.0/Csharp_ExcelTools.csproj.CopyComplete
Csharp_ExcelTools/Csharp_ExcelTools/obj/Debug/net6.0/Csharp_ExcelTools.csproj.FileListAbsolute.txt
Csharp_ExcelTools/Csharp_ExcelTools/obj/Debug/net6.0/Csharp_ExcelTools.GeneratedMSBuildEditorConfig.editorconfig
Csharp_ExcelTools/Csharp_ExcelTools/obj/Debug/net6.0/Csharp_ExcelTools.GlobalUsings.g.cs
Csharp_ExcelTools/Csharp_ExcelTools/bin/Debug/net6.0/Csharp_ExcelTools.deps.json
Csharp_ExcelTools/Csharp_ExcelTools/bin/Debug/net6.0/Csharp_ExcelTools.runtimeconfig.json
Csharp_ExcelTools/.vs/Csharp_ExcelTools/DesignTimeBuild/.dtbcache.v2
